* {
  background-color: tan;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.App {
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
}

.bonesimg {
  width: 350px;
  height: 400px;
}

.intro {
  font-size: large;
}

.decisiontext {
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  height: 3%;
  padding-bottom: 15px;
}



a {
  color: black;
}

.decisioninfo {
  margin-bottom: 2%;
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

.update {
  font-size:xx-small;
  padding: 5px;
}

