* {
  background-color: tan;
}
.App {
  text-align: center;
}

.bonesimg {
  width: 350px;
  height: 400px;
}

h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.intro {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.decisiontext {
  font-size: xx-large;
  padding-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:peru;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  height: 20px;
}

.footer > div {
  width: 300px;
  background-color:peru;
  color: whitesmoke;
  flex: 1;
  height: 100%;
  text-align:center;
  text-decoration: none;
}

